* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --verde-claro: #E5F9DB;
    --verde-oscuro: #609966;
    --rojo-claro: #FAD4D4;
    --rojo-oscuro: #D21312;
    --azul-claro: #AEE2FF;
    --azul-oscuro: #2F58CD;
}
html {
    font-family: 'Roboto', sans-serif;
}

.main-section {
    width: 90%;
    margin: 0 auto;
}
.main-section h2 {
    margin: 20px 25px;
}

.form-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
}

/*** Formulario Presupuesto.***/
.form-budget {
    width: 40%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: var(--verde-claro);
    border: 2px solid var(--verde-oscuro);
    border-radius: 5px;
}
.form-budget label {
    margin: 5px 0;
}
.form-budget input {
    margin: 5px 0;
    padding: 6px;
}
.form-budget button {
    width: auto;
    color: var(--verde-oscuro);
    border: 1px solid var(--verde-oscuro);
    background-color: var(--verde-claro);
    width: 100px;
    margin: 5px 0;
    padding: 6px;
    border-radius: 3px;
    cursor: pointer;
}
.form-budget button:hover {
    color: white;
    background-color: var(--verde-oscuro);
    transition: 0.5s;
}

/*** Div con los totales por categoría. ***/
.detail-budget {
    width: 55%;
    text-align: center;
    margin-left: 2%;
    /* border: 1px solid purple; */
}
.detail-budget--title {
    display: flex;
}
.detail-budget--title p {
    width: 33%;
}
.detail-budget--result {
    display: flex;
}
.detail-budget--result p {
    width: 33%;
    font-weight: 700;
    margin-top: 10px;
}

/*** Formulario gastos. ***/
.form-spent {
    width: 40%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: var(--rojo-claro);
    border: 2px solid var(--rojo-oscuro);
    border-radius: 5px;
}
.form-spent label {
    margin: 5px 0;
}
.form-spent input {
    margin: 5px 0;
    padding: 6px;
}
.form-spent button {
    color: var(--rojo-oscuro);
    border: 1px solid var(--rojo-oscuro);
    background-color: var(--rojo-claro);
    width: 120px;
    margin: 5px 0;
    padding: 6px;
    border-radius: 3px;
    cursor: pointer;
}
.form-spent button:hover {
    color: white;
    background-color: var(--rojo-oscuro);;
    transition: 0.5s;
}

/*** Div con el detalle de los gastos. ***/
.detail-spent {
    width: 55%;
    text-align: center;
    margin-left: 2%;
    /* border: 1px solid purple; */
}
.detail-spent--line {
    width: 95%;
    margin: 8px auto;
    border: 1px solid black;
}
.detail-spent--line2 {
    width: 95%;
    margin: 5px auto;
    border: 1px solid lightgray;
}
.detail-spent--title {
    display: flex;
}
.detail-spent--title > p:first-child {
    width: 40%;
    padding-left: 3%;
}
.detail-spent--title > p {
    width: 30%;
}
.detail-spent--result {
    display: flex;
    flex-direction: column;
}
.detail-spent--row {
    display: flex;
}
.detail-spent--row > p:first-child {
    width: 40%;
    text-align: left;
    padding-left: 3%;
    font-weight: 700;
    margin-top: 10px;
}
.detail-spent--row > p {
    width: 30%;
    font-weight: 700;
    margin-top: 10px;
}

.btn-reset {
    padding: 10px;
    width: 100px;
    margin-top: 10px;
    margin-left: 20px;
    background-color: var(--azul-claro);
    color: var(--azul-oscuro);
    border: 1px solid var(--azul-oscuro);
    border-radius: 4px;
}
.btn-reset:hover {
    color: white;
    background-color: var(--azul-oscuro);;
    transition: 0.5s;
}

/*** Media queries para dispositivos móviles. ***/
/** Se utilizan los breakpoint de Bootstrap 5. **/
@media (max-width: 767.98px) { 
    .main-section h2 {
        text-align: center;
        margin-bottom: 25px;
    }

    .form-budget {
        width: 100%;
    }

    .detail-budget {
        width: 100%;
        margin-left: 0;
        margin: 20px 0;
    }

    .form-spent {
        width: 100%;
    }

    .detail-spent {
        width: 100%;
        margin-left: 0;
        margin: 20px 0;
    }

    .btn-reset {
        margin-top: 0;
        margin-left: 10px;
        margin-bottom: 25px;
    }
}